* {
  margin: 0;
  padding: 0;
}

.question_container {
  display: flex;
  justify-content: center;
}

#question {
  font-size: 5rem;
}

.answer_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 35px;
}

.answerBtn {
  width: 100%;
  height: 5rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.button:hover {
  background-color: darken;
}

.next_button_container {
  margin-left: 35px;
}

.small_button {
  height: 4rem;
  width: 5rem;
  border-radius: 8px;
  border: none;
}

/* Farben anzeigen wenn korrekt oder inkorrekt */

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
